body {
    font-family: Arial, initial;
    margin: 0;
    padding: 0;
    background-color:lightgrey ;
    background-image: url('');    
    background-size: cover; 
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
.form-container {

            width: 70%;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container input[type="make"], 
        .form-container input[type="model"], 
        .form-container input[type="year"]
        .form-container input[type="condition"]
        .form-container input[type="mileage"]
        .form-container input[type=" VIN"] 
        {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .form-container input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .form-container input[type="submit"]:hover {
            background-color: #555;}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

section ul {
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#sell-form{

}